<%= form_for(@file_share, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
  <% if @file_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_share.errors.count, "error") %> prohibited this file_share from being saved:</h2>

      <ul>
      <% @file_share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :user, class: 'col-sm-2 control label'  %>
    <div class="col-sm-10">
      <%= f.text_field :user %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :file_url, class: 'col-sm-2 control-label' %>
     <div class="col-sm-10">
        <%= f.file_field :file_url, class: 'form-control' %>
     </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
