<p id="notice"><%= notice %></p>

<h1>Listing File Shares</h1>

<table class="table" >
  <thead>
    <tr>
      <th>User</th>
      <th>File url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_shares.each do |file_share| %>
      <tr>
        <td ><%= file_share.user %></td>
        <td ><%= file_share.file_url %></td>
        <td ><%= link_to 'Delete', file_share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File share', new_file_share_path %>
